.space {background-image: url("../images/space.jpg");
 background-size: cover;}


.sky{
transform: rotate(90deg);
animation-name: fly;
animation-duration: 9s;
  animation-iteration-count: infinite;
  position: relative;
   translate: 550px;
	transform: rotate(0deg);
	transition-duration: 15s;
	transform: rotate(90deg) ;
}


@keyframes fly {
0% {left: -800px; top: 0px}
100%{left: 1500px; top: -250px; rotate: -17deg;}

}


 .uf {width: 400px;
 	height: 120px;
  animation-iteration-count: infinite;
  animation-name: wow;
  animation-duration: 9s;
position: relative;
 }

 @keyframes wow {
0%  {left: 100px; }
25%  {top: 0px; left: 1300px; rotate: 10deg}
50%  {top: 500px; rotate: -8deg}
75%  {left: 100px;}
100% {top: 0px; left: 100px}
}

 
 .ast {
 	width: 100px;
 	height: 120px;
 	position: relative;
 	top: 550px;
 left: -700px;
 animation-name: test;
 animation-duration: 9s;
 animation-iteration-count: infinite;
 aniamtion: rotate 2s linear;
 animation-timing-function:ease;
 }


 @keyframes test {
0% {left: -600px;}
100% {left: 1500px; rotate: 360deg}


 }


.earth {background-image:url(../images/park.png) ;
background-size: cover;
}


.ear {
	position: relative;
	display:inline;
color: antiquewhite;
margin-left: 560px;
top: -165px;
}


.plane {
height: 90px;
position: relative;
top: 0px;
left: -170px;
animation-name: hi;
animation-duration: 11s;
animation-iteration-count: infinite;
}


@keyframes hi {
 0% {left: -100px;top:0px; rotate: 20deg;}
 30% {top: 300px; rotate: 0deg;}
 35% {;top: 300px; rotate: 0deg;}
 50% {rotate: -20deg;}
 75% {top: 0px; rotate: -7deg;}
 77% {rotate: -3deg}
 80% {rotate: 0deg;}
 100% {left: 100%;}
}

.car {height: 140px;}

.is {
position: relative;
display: inline;
top: 800px;
left: -400px;
animation-name: move;
animation-duration: 9s;
animation-iteration-count: infinite;
}

@keyframes move {
0% {left: -400px;}
100% {left: 100%}
}






 




